body{
    margin: 0px;
}

#my-canvas{
    width: 100vw;
    height: 100vh;
    border: 3px solid black;
}
#colors{
    background-color: aqua;
    display: grid;
    height: 80px;
    grid-template-columns: repeat(15, auto)
}
#colors * {
    border: 3px solid black;
}
